<a href="https://colab.research.google.com/github/RanaAbrar521/CS-6000/blob/main/M_Ibrar%20CS5160_L02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Goal: Learn about lists and how to work with elements in a list.**

## What is a list?

A list is a collection of items in a particular order.

Lists can include:
- The letters of the alphabet (character)
- The names of people (strings)
- The digits from 0 to 9 (integers)

You can put anything you want into a list. The items in you your list do have to be related in any particular way.

**Lists are one of Python's most powerful features (data structure).**

In Python, square brackets `[]` indicate a list, and elements in the list are separated by commas.

It is important to note that since lists usually contain more than one element, we usually make the name of a list plural.

In [ ]:
bicycles = ["trek", "cannondale", "redline", "specialized"]
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

## How do I access a list?

In [ ]:
bicycles = ["trek", "cannondale", "redline", "specialized"]
print(bicycles[0])

trek

In [ ]:
bicycles = ["trek", "cannondale", "redline", "specialized"]
print(bicycles[0].title())

Trek

## Why did we use 0 to index the first elements?

In [ ]:
bicycles = ["trek", "cannondale", "redline", "specialized"]
print(bicycles[0]) # first element
print(bicycles[1]) # second element
print(bicycles[2]) # third elements
print(bicycles[3]) # fourth element

trek
cannondale
redline
specialized

In [ ]:
bicycles = ["trek", "cannondale", "redline", "specialized"]
print(bicycles[-1]) # fourth element
print(bicycles[-2]) # third element
print(bicycles[-3]) # second elements
print(bicycles[-4]) # first element

specialized
redline
cannondale
trek

## Can I use individual elements just as I would any other variable?

In [ ]:
bicycles = ["trek", "cannondale", "redline", "specialized"]
message = f"My first bicycle was a {bicycles[0].title()}."
print(message)

My first bicycle was a Trek.

## Can I modify elements in a list?

In [ ]:
motorcycles = ["honda", "yamaha", "suzuki"]
print(motorcycles)

motorcycles[0] = "ducati"
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki']

## Can I add elements to a list?

In [ ]:
motorcycles = ["honda", "yamaha", "suzuki"]
print(motorcycles)

motorcycles.append("ducati")
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki', 'ducati']

In [ ]:
motorcycles = []
print(motorcycles)

motorcycles.append("honda")
print(motorcycles)

motorcycles.append("yamaha")
print(motorcycles)

motorcycles.append("suzuki")
print(motorcycles)

[]
['honda']
['honda', 'yamaha']
['honda', 'yamaha', 'suzuki']

In [ ]:
motorcycles = ["honda", "yamaha", "suzuki"]
print(motorcycles)

motorcycles.insert(0, "ducati")
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'honda', 'yamaha', 'suzuki']

In [ ]:
motorcycles = ["honda", "yamaha", "suzuki"]
print(motorcycles)

motorcycles.insert(1, "ducati")
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'ducati', 'yamaha', 'suzuki']

## Can I remove elements from a list?

In [ ]:
motorcycles = ["honda", "yamaha", "suzuki"]
print(motorcycles)

del motorcycles[0]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['yamaha', 'suzuki']

In [ ]:
motorcycles = ["honda", "yamaha", "suzuki"]
print(motorcycles)

del motorcycles[1]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'suzuki']

In [ ]:
motorcycles = ["honda", "yamaha", "suzuki"]
print(motorcycles)

popped_motorcyle = motorcycles.pop()
print(motorcycles)
print(popped_motorcyle)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
suzuki

In [ ]:
motorcycles = ["honda", "yamaha", "suzuki"]
print(motorcycles)

last_owned = motorcycles.pop()
print(f"The last  motorcycle I owned was a {last_owned.title()}.")

['honda', 'yamaha', 'suzuki']
The last  motorcycle I owned was a Suzuki.

In [ ]:
motorcycles = ["honda", "yamaha", "suzuki"]
print(motorcycles)

first_owned = motorcycles.pop(0)
print(f"The first motorcycle I owned was a {first_owned.title()}.")

['honda', 'yamaha', 'suzuki']
The first motorcycle I owned was a Honda.

In [ ]:
motorcycles = ["honda", "yamaha", "suzuki", "ducati"]
print(motorcycles)

motorcycles.remove("ducati")
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

In [ ]:
motorcycles = ["honda", "yamaha", "suzuki", "ducati"]
print(motorcycles)

too_expensive = "ducati"
motorcycles.remove(too_expensive)
print(motorcycles)
print(f"A {too_expensive.title()} is too expensive for me.")

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']
A Ducati is too expensive for me.

## Can I sort a list?

In [ ]:
cars = ["bmw", "audi", "toyota", "subaru"]
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [ ]:
cars = ["bmw", "audi", "toyota", "subaru"]
cars.sort(reverse=True)
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

In [ ]:
cars = ["bmw", "audi", "toyota", "subaru"]

print("Original List:")
print(cars)

print("Sorted List:")
print(sorted(cars))

print("Original List (Again):")
print(cars)

Original List:
['bmw', 'audi', 'toyota', 'subaru']
Sorted List:
['audi', 'bmw', 'subaru', 'toyota']
Original List (Again):
['bmw', 'audi', 'toyota', 'subaru']

In [ ]:
cars = ["bmw", "audi", "toyota", "subaru"]
print(cars)

cars.reverse()
print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']

## Can I find the length of list?

In [ ]:
cars = ["bmw", "audi", "toyota", "subaru"]
print(len(cars))

4

In [ ]:
cars = ["bmw", "audi", "toyota", "subaru"]
length_cars = len(cars)
print(type(length_cars))

<class 'int'>

## What errors should I expect when working with lists?

In [ ]:
cars = ["bmw", "audi", "toyota", "subaru"]
# print(cars[4])

In [ ]:
cars = ["bmw", "audi", "toyota", "subaru"]
print(cars[-1])

subaru

In [ ]:
cars = []
# print(cars[-1])

## Are there more list methods?

Python List Methods: https://docs.python.org/3/tutorial/datastructures.html